/*
*= require_self
*= require mountain_view/prism
*/

.mountainview-styleguide-body {
  padding: 0;
  margin: 0;
}

/* HEADER */
.mountainview-styleguide-header{
  background: #777;
  padding: 20px;
}
.mountainview-styleguide-header__logo{
  font-weight: bold;
  color: white;
  font-size: 20px;
}

/* FLEX WRAPPER */

.mountainview-styleguide-flex-wrapper{
  display: flex;
}

/* SIDEBAR */
.mountainview-styleguide-sidebar{
  background: #F7F7F7;
  width: 18%;
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 30px 20px;
  flex:1;
  min-height: 100vh;
}

.mountainview-styleguide-sidebar h3{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
  color: #444;
}

.mountainview-styleguide-sidebar ul{
}

.mountainview-styleguide-sidebar ul li{
  margin-bottom: 20px;
}

.mountainview-styleguide-sidebar ul li a{
  color: #555;
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
}

.mountainview-styleguide-sidebar ul li a:hover{
  color: #000;
}

/* MAIN */
.mountainview-styleguide-main{
  box-sizing: border-box;
  width: 82%;
  float: left;
  padding: 30px 60px;
}
.mountainview-styleguide-main__header{
  margin-bottom: 40px;
}

.mountainview-styleguide-main__header h1{
  font-weight: 100;
  font-size: 55px;
  color: #333;
}

.mountainview-styleguide-main__description {
}

/* COMPONENT */
.mountainview-styleguide-component{
  margin-bottom: 150px;
}

.mountainview-styleguide-component__item{
}

.mountainview-styleguide-component__meta{
  padding: 25px;
  margin-bottom: 20px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
}

.mountainview-styleguide-component__meta p{
  color: #000;
}

.mountainview-styleguide-component__description{
  padding: 25px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
  margin-top: 30px;
}

.mountainview-styleguide-component__description h2{
  font-weight: bold;
  margin-bottom: 20px;
}

.mountainview-styleguide-component__description__definition{
  margin-bottom: 20px;
}

.mountainview-styleguide-component__description__definition code,
.mountainview-styleguide-component__description__properties code {
  background: none !important;
  font-size: 14px;
}

.mountainview-styleguide-component__description__properties{
  background: #fff !important;
  border: 1px solid #e4e4e4;
  max-height: 230px;
  overflow: auto;
  font-size: 13px;
  padding: 30px 20px;
}


/* HINT */
.mountainview-styleguide-hint{
  margin: 40px 0;
  padding: 30px;
  font-size: 14px;
  border-top: 2px solid #FCCC37;
  color: #777;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.mountainview-styleguide-hint h2{
  font-size: 19px;
  margin-bottom: 20px;
  color: #000;
}
.mountainview-styleguide-hint h2 span{
  color: #FCCC37;
  margin-right: 5px;
  font-weight: bold;
}

.mountainview-styleguide-hint ul{
  list-style-type: disc;
  margin-left: 15px;
}
.mountainview-styleguide-hint ul li{
  margin-bottom: 10px;
  line-height: 1.5;
}

.mountainview-styleguide-hint pre{
  background: #F5F5F5;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Courier New', 'Courier';
  font-weight: 600;
  color: #444;
}

.mountainview-styleguide-hint strong{
  font-weight: bold;
}
