<div class="mv-main__header">
  <h1>Styleguide</h1>
</div>
<div class="mv-main__description">
  Select one of the components from the side to view its examples and documentation.
  <br />
  <br />
  To replace the content on this page, add a folder mountain_view in your views and create a partial `_styleguide_intro.html.erb` or `_styleguide_intro.html.haml` whichever you prefer.
</div>
